<form action="/users" method="post">
  <input name="username" type="text" placeholder="Username" required />
  <input name="email" type="text" placeholder="Email" required />
  <input name="password" type="password" placeholder="Password" required />
  <input name="password_confirmation" type="password" placeholder="Confirm password" required />
  <input type="submit" value="Sign up!" />
</form>
