<form action="/new_link" method='post'>
  <input type='text' name='Title' placeholder="Title" required>
  <input type='text' name='URL' placeholder="URL" required>
  <input type='text' name='Tags' placeholder="Tags (optional)">
  <input type='submit' value='Add new bookmark'>
</form>

<% unless current_user.links.empty?%>
  <ul id="links">
    <% current_user.links.each do |link| %>
      <li style="padding: 7px 0px; font-family: Arial;">
        Title: <b><%=link.title%></b><br>
        URL: <a href="<%="#{link.url}"%>"><%="#{link.url}"%></a><br>
        Tags: <em><%="#{link.tags.map{|t| t.name}.join(', ')}"%></em>
      </li>
    <% end %>
  </ul>
<% end %>
