<a style="font-family: Impact; font-size: 100px" href="/links/new">Add link</a>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      <a href="<%= link.url %>" target="_blank"><%= link.title %></a>
    </li>
  <% end %>
</ul>
