<a style="font-family: Impact; font-size: 100px" href="/links/new">Add link</a>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      <a href="<%= link.url %>" target="_blank"><%= link.title %></a><br />
      <% link.tags.each do |tag| %>
        <a href="tags/<%= tag.name %>"><%= tag.name %></a>
      <% end %>
    </li>
  <% end %>
</ul>
